* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f9f9f9;
    color: #333;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #2e7d32;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}


.dropdown {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dropdown a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #e8f5e9;
}


.hero {
    text-align: center;
    padding: 50px 20px;
    background: #e8f5e9;
}

.hero a{
    background: #e8f5e9;
    color: #2e7d32;
}

.hero h1 {
    margin-bottom: 10px;
    color: #2e7d32;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.gallery {
    display: flex;
    gap: 10px;
    padding: 20px;
    overflow-x: auto;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}


.info {
    padding: 30px 20px;
    text-align: center;
}

.info h2 {
    margin-bottom: 10px;
    color: #2e7d32;
}


footer {
    text-align: center;
    padding: 15px;
    background: #2e7d32;
    color: white;
}
